<% if ( temas.length > 0 ) { %>
  <!-- Incluir novo drop com cards dos temas para seleção -->
  <div id="temas-btns" secction="1" class="flex flex-col justify-items-center items-center w-10/12 gap-20 m-auto animate__animated animate__fadeIn h-screen tema-section">
    <div class="p-16"></div>
    <div class="grid grid-cols-2 justify-items-center items-center w-10/12 gap-2 border-2 border-blue-600 border-dashed rounded-lg p-4 pl-4 pr-4 pb-16 pt-16">
      <h3 class="text-3xl font-bold text-gray-700 mb-6 self-start">My quick tools</h3>
      <p></p>
      <%- include('./tabTemas') %>
      <%- include('./temasByType') %>
      <%- include('./temasByJuizo') %>
      <%- include('./btnGetAll') %>
      <%- include('./editor') %>
      <%- include('./newTema') %>
    </div>
  </div>
  <div id="tab-search-texto" secction="2" class="flex flex-col justify-items-center items-center w-10/12 m-auto gap-20 animate__animated animate__fadeIn h-screen tema-section">
    <div class="w-10/12 flex flex-col gap-y-3 border-2 border-blue-600 border-dashed rounded-lg p-4 pl-4 pr-4 pt-4 pb-16">
      <%- include('./searchTexto') %>
    </div>
  </div>
  <% } %>
  <%- include('./newTexto') %>
  <div id="temas-content" secction="3" class="flex z-0 justify-center tema-section">
    <div id="accordion-container" data-accordion="collapse" class="mt-10 mb-48 m-auto w-10/12">
      <%- include('./bellows') %>
    </div>
    <div class="flex flex-col fixed top-32 right-1 mt-10 mb-48 w-1/12 overflow-auto p-2">
      <%- include('./verticalTemaIndicator') %>
    </div>
    <div class="flex flex-col fixed top-32 left-9 mt-10 mb-48 w-1/12 overflow-auto p-2">
      <%- include('./verticalPageIndicator') %>
    </div>
  </div>






