<input type="hidden" value="<%=csrfToken%>" id="_third-csrf">
<% if ( temas.length > 0 ) { %>
  <% temas.forEach((tema, index) => { %>
    <div id="container-tema-id-<%= tema._id %>" class="container-one-tema" tema-id="<%= tema._id %>">
      <div>
        <button id="accordion-heading-<%= index + 1 %>" tema-id="<%= tema._id %>" type="button" class="accordion-heading mx-auto flex items-center justify-between w-11/12 p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-blue-200 rounded-t-xl focus:ring-4" aria-expanded="true" aria-controls="accordion-body-<%= index + 1 %>">
          <div class="relative group w-fit">
            <input type="text" tema-id="<%= tema._id %>" name="tema" id="tema-input-<%= tema._id %>" value="<%= tema.name %>" class="rounded text-center block py-2.5 px-0 text-sm text-gray-900 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer input-tema-name" placeholder=" " readonly required />
            <label style="pointer-events: none" for="tema-input-<%= tema._id %>" class="label-heading peer-focus:font-large absolute text-2xl text-gray-900 duration-300 transform -translate-y-10 scale-75 top-3 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8 text-white">Tema <%= index + 1 %></label>
          </div>
          <% if (tema._type) { %>
          <select name="type" id="tema-select-type-<%= tema._id %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 w-4/12 select-type-tema" placeholder="Tipo">
            <% if (tema._type === 'tempo_especial') { %>
              <option value="tempo_especial" selected>Tempo especial</option>
              <option value="tempo_rural">Tempo rural</option>
              <option value="tempo_urbano">Tempo urbano</option>
            <% } %>
            <% if (tema._type === 'tempo_rural') { %>
              <option value="tempo_especial">Tempo especial</option>
              <option value="tempo_rural" selected>Tempo rural</option>
              <option value="tempo_urbano">Tempo urbano</option>
            <% } %>
            <% if (tema._type === 'tempo_urbano') { %>
              <option value="tempo_especial">Tempo especial</option>
              <option value="tempo_rural">Tempo rural</option>
              <option value="tempo_urbano" selected>Tempo urbano</option>
            <% } %>
          <% } %>
          </select>
          <% if (tema.juizo) { %>
            <select name="type" id="tema-select-juizo-<%= tema._id %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 w-2/12 select-juizo-tema" placeholder="Tipo">
              <% if (tema.juizo === 'substituto') { %>
                <option value="substituto" selected>Substituto</option>
                <option value="federal">Federal</option>
              <% } %>
              <% if (tema.juizo === 'federal') { %>
                <option value="substituto">Substituto</option>
                <option value="federal" selected>Federal</option>
              <% } %>
            <% } %>
            </select>
            <a class=" text-gray-800  bg-white hover:text-white border border-blue-200 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center anchor-update-tema" tema-id="<%= tema._id %>">Alterar tema
            </a>
            <a class=" text-gray-800 bg-white hover:text-white border border-blue-200 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center anchor-delete-tema" tema-id="<%= tema._id %>">Deletar tema
            </a>
          <svg style="pointer-events: none" data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path style="pointer-events: none" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
      <div id="accordion-body-<%= index + 1 %>" class=" hidden mx-auto accordion-body w-11/12" aria-labelledby="accordion-heading-<%= index + 1 %>">
        <div class=" flex py-2 bg-blue-300 justify-center ">
          <button class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300  font-medium rounded-lg text-sm px-5 py-2.5 text-center w-4/12  btn-new-texto" btn-linked-to="accordion-heading-<%= index + 1 %>" tema-id="<%= tema._id %>">Novo texto
          </button>
        </div>
      <% tema.textos.forEach((texto, _index) => { %>
        <div class="flex items-center justify-between p-5 border border-b-0 bg-blue-50 hover:bg-blue-100 observed">
          <h6 class="text-sm font-bold text-gray-600 bg-blue-200 p-1 rounded">Texto: <%=_index + 1%></h6>
          <div class="flex flex-col w-9/12 ">
            <div class="relative w-full mb-1 group">
              <input type="text" tema-id="<%= tema._id %>" texto-id="<%= texto._id %>" name="description" id="description-input-<%= texto._id %>" value="<%= texto.description %>" class="rounded text-center mb-3 block py-2.5 px-0 w-full text-sm text-gray-900 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 font-bold peer input-text-description" placeholder=" " readonly required />
              <label style="pointer-events: none" for="description-input-<%= texto._id %>" class="peer-focus:font-large absolute text-sm text-gray-600 duration-300 transform -translate-y-8 scale-75 top-3 origin-[0] peer-focus:left-0 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">Descrição</label>
            </div>
            <div class="relative w-full mb-1 group">
              <textarea name="text" id="texto-code-<%=tema._id%>-<%=_index + 1%>" texto-id="<%= texto._id %>" tema-id="<%= tema._id %>" rows="2" class="rounded mb-3 block py-6 px-0 w-full font-medium text-gray-700 indent-7 text-justify text-base border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer h-fit min-h-0 overflow-y-auto break-words textarea-text-content" placeholder=" " readonly required><%=texto.content.replace(/\n/g, '  \n\n\t')%></textarea>
              <label for="texto-code-<%=tema._id%>-<%=_index + 1%>" class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-focus:left-0 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Texto</label>
            </div>
          </div>
          <div class="grid grid-cols-1 w-2/12">
            <button class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300  font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 btn-copiar-texto" id="btn-copiar-texto">Copiar texto
            </button>
            <button class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300  font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 btn-deletar-texto" id="btn-deletar-texto" tema-id="<%= tema._id %>" texto-id="<%= texto._id %>">Deletar texto
            </button>
            <button class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300  font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 btn-salvar-texto" id="btn-salvar-texto" tema-id="<%= tema._id %>" texto-id="<%= texto._id %>">Atualizar texto
            </button>
          </div>
        </div>
      <% }) %>
      </div>
  </div>
  <% }) %>
<% } else { %>
  <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
    <p class="font-bold">Não há temas salvos. Crie um!</p>
  </div>
  <%- include('./newTema') %>
<% } %>
