<div id="my-workbench" class="grid grid-cols-3 mt-14 mb-6 items-start justify-evenly">
  <%- include('./savedTables', { tables }) %>
  <%- include('./chart') %>
  <%- include('./dropZone') %>
</div>
<%- include('./searchMenu') %>
<%- include('./alertExcluded') %>
<%- include('./table') %>